/* section for the whole page*/
#wholePage {
  background-color: black;
  color: white;
}

/* for positioning make sure to use the absolute and the left and right for the home
and logout buttons*/
#logOutButton {
  position: absolute;
  left: 50px;
  height: 50px;
  width: 50px;
}

#homeButton {
  position: absolute;
  right: 50px;
  height: 50px;
  width: 50px;
}

/*This describes the header title*/
#header {
  padding-top: 15px;
  font-size: 60px;
}

/*This describes the text for title*/
.brand {
  font-family: "Roboto Condensed", sans-serif;
}


#text {
  height: 100%;
  margin-top: 140px;
  font-size: 70px;
}

/* both of theses css sections regulate the tables placement*/
#titles {
  padding-top: 50px;
  background-color: black;
  color: white;
  width: 45cm;
  font-size: 30px;
  text-align: center;
}

#list {
  height: 100px;
}

#playlistBtn {
  font-size: 50px;
  width: 650px;
  height: 70px;
  margin-bottom: 10px;
  border-radius: 10px;

}