* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  color: white;
  padding: 20px 0;
  overflow: hidden;
  overflow-y: scroll;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1430px;
  background-color: transparent;
  color: white;
  padding: 20px 0;
}

header h1 {
  font-size: 64px;
  margin-left: 400px;
}

header div.user_logout {
  width: 151px;
  height: 66px;
  font-size: 25px;
  font-weight: bold;
  background-color: gold;
  border: none;
  border-radius: 10px;
  width: 151px;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}

header div.user_logout a {
  color: black;
}

header div.donate button {
  background-color: gold;
  font-size: 25px;
  font-weight: bold;
  padding: 4px 12px;
  border: none;
  border-radius: 10px;
  outline: none;
  width: 151px;
  height: 66px;
  margin-left: 370px;
}

header div.popup_container {
  position: fixed;
  width: 1100px;
  height: 550px;
  background-color: rgba(119, 205, 255, 0.2);
  display: flex;
  margin-left: 163px;
  margin-top: 700px;
  display: none;
}

header div.popup_container div.donation {
  background-color: rgb(49, 49, 49);
  width: 1100px;
  height: 550px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
}

header iv.popup_container div.donation div {
  display: flex;
}

header div.popup_container div.donation div button {
  border: none;
  background-color: transparent;
  color: white;
  margin-left: 20px;
  width: 50px;
  height: 40px;
  font-size: 50px;
}

header div.popup_container div.donation div div {
  color: gold;
  font-weight: bold;
  font-size: 94px;
  margin-left: 250px;
}

header div.popup_container div.donation div div div {
  color: gold;
  font-weight: bold;
  font-size: 104px;
  margin-left: -160px;
  padding: 20px 40px;
  width: 900px;
  height: 400px;
  display: flex;
  align-items: center;
  text-align: center;
}

div.search_bar form {
  display: flex;
  text-align: center;
  background-color: transparent;
  margin-top: 10px;
  margin-left: 90px;
}

div.search_bar input {
  width: 600px;
  height: 70px;
  background-color: lightgray;
  border: none;
  border-radius: 45px;
  font-weight: 550;
  font-size: 34px;
  text-align: center;
  margin-bottom: 20px;
}

div.search_bar button {
  width: 70px;
  height: 70px;
  background-color: transparent;
  border: none;
  border-radius: 45px;
}

div.head_title {
  background-color: transparent;
  width: 700px;
  height: 45px;
}

div.head_title h3,
div.second_title h3,
div.third_title h3 {
  font-size: 40px;
  font-weight: bold;
}

div.playlists {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -20px;
}

div.playlists div.lists {
  width: 850px;
  height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
  direction: ltr;
  margin-left: 290px;
}

div.playlists div.lists table {
  background-color: transparent;
  width: 800px;
  border: none;
  margin-left: 26px;
}

div.playlists div.lists table tr.names {
  background-color: lightgray;
  color: black;
  height: auto;
  text-align: center;
}

div.playlists div.lists table tr.names td {
  border-radius: 15px;
  border-color: black;
  border-width: 5px;
}

div.playlists div.lists table tr.names td button {
  text-align: center;
  align-items: center;
  font-size: 44px;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  background-color: lightgray;
}

div.playlists div.playlist_actions {
  margin-left: 25px;
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

div.playlists div.playlist_actions div.create_playlist,
div.playlists div.playlist_actions div.delete_playlist {
  background-color: lightgray;
  width: 200px;
  height: 40px;
  padding: 10px 0;
  text-align: center;
  border-radius: 10px;
  margin: 10px;
}

div.playlists div.playlist_actions div.create_playlist a,
div.playlists div.playlist_actions div.delete_playlist a {
  color: black;
  font-size: 18px;
  font-weight: bold;
}

div.second_title {
  background-color: transparent;
  width: 700px;
  height: 45px;
  margin-top: -30px;
}

div.last_playlist,
div.last_song {
  width: 800px;
  height: 62px;
  margin-left: 50px;
}

div.last_playlist table,
div.last_song table {
  background-color: transparent;
  width: 800px;
  border: none;
}
div.last_playlist table tr.name,
div.last_song table tr.song_name {
  background-color: lightgray;
  color: black;
  height: 60px;
  text-align: center;
}

div.last_playlist table tr.name td {
  border-radius: 15px;
  border-color: black;
  border-width: 5px;
  font-size: 34px;
  font-weight: bold;
}

div.last_song table tr.song_name td {
  display: flex;
  flex-direction: row;
  margin: auto;
}

div.last_song table tr.song_name td div.music {
  margin: auto;
}

div.last_song table tr.song_name td div.music button {
  font-size: 34px;
  font-weight: bold;
  width: auto;
  width: 400px;
  height: auto;
  max-height: 56px;
  padding: 5px 5px;
  overflow: hidden;
  overflow-y: auto;
  border: none;
  background-color: transparent;
}

div.third_title {
  background-color: transparent;
  width: 700px;
  height: 45px;
  margin-top: 5px;
}

div.change {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-left: 1150px;
  margin-top: -215px;
}

div.change div.change_email button,
div.change div.change_password button {
  background-color: gold;
  font-size: 30px;
  font-weight: bold;
  padding: 4px 12px;
  border: 8px solid #000;
  border-radius: 45px;
  outline: none;
  margin-top: 10px;
  width: 250px;
  height: 100px;
}

div.popup_container {
  position: fixed;
  width: 700px;
  height: 400px;
  background-color: transparent;
  align-items: center;
  display: flex;
  margin-top: -375px;
  display: none;
  border-radius: 10px;
}

div.popup_container div.email_popup,
div.popup_container div.password_popup {
  background-color: lightblue;
  width: 700px;
  height: 400px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  margin-top: 260px;
}

div.popup_container div.email_popup h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

div.popup_container div.password_popup h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

div.popup_container div.email_popup h2 span,
div.popup_container div.password_popup h2 span {
  margin-left: 145px;
  color: white;
  font-size: 45px;
}

div.popup_container div.email_popup h2 button {
  border: none;
  background-color: transparent;
  margin-left: 90px;
  width: 50px;
  height: 40px;
  font-size: 30px;
}

div.popup_container div.password_popup h2 button {
  border: none;
  background-color: transparent;
  margin-left: 60px;
  margin-right: 40px;
  width: 50px;
  height: 40px;
  font-size: 30px;
}

div.popup_container div.email_popup input,
div.popup_container div.password_popup input {
  width: 400px;
  height: 70px;
  margin-bottom: 10px;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid blue;
  border-radius: 0;
  padding: 5px 0;
  font-weight: 550;
  font-size: 25px;
  outline: none;
}

div.popup_container div.email_popup button.email-btn,
div.popup_container div.password_popup button.password-btn {
  width: 140px;
  height: 60px;
  font-size: 25px;
  font-weight: 550;
  font-style: 15px;
  background-color: gold;
  padding: 5px 12px;
  border: none;
  border-radius: 45px;
  outline: none;
  margin-top: 10px;
}
